# Copy the content in this file into a new file called .env
# .env should contain all your environment variables as demonstrated below.

# postgres
DATABASE_URL=postgres://localhost:5432/cryptogram_rails_server?encoding=utf8&pool=5

# puma options
PORT=3100
RAILS_MIN_THREADS=1
RAILS_MAX_THREADS=5
WEB_CONCURRENCY=1

# Log Options
RAILS_LOG_TO_STDOUT=TRUE

# Rails log level.
#   Accepted values: debug, info, warn, error, fatal, or unknown
LOG_LEVEL=debug

# run `bin/rails secret and replace the value below
secret_key_base=some_random_value_that_is_not_this

# While dotenv does support separated env files, don't use them. dotenv should only be used
# in development and test. Configure your heroku environment variables yourself. This is simply
# to make managing environment variables in development easier.
